.App {
  text-align: center;
}

.main {
  width: 90vw;
  text-align: center;

}

form input {
  width: 15rem;
  height: 1.7rem;
  text-align: center;
   border-radius: 10px;
   margin-left: 0.3rem;
   font-size: larger;
   font-weight: bolder;
}



button {
  width: 5rem;
  height: 1.7rem;

}

.ekle {
  border-radius: 10px;
  background-color:bisque;
   margin-left: 0.5rem;
}

.temizle {
  margin-top: 0.7rem;
   border-radius: 10px;
  background-color: rgba(246, 226, 7, 0.89);
}

.sil {
  margin-left: 0.5rem;
   border-radius: 10px;
  background-color: rgb(227, 48, 8);
}


.paragraf{
  display: inline-block;  
  padding: 0.7rem;
  background-color:rgb(128, 8, 241);
  color:rgb(227, 208, 43);
  font-size: 1.2rem;
  border-radius: 15px;
  

}